### Q1. Explain with an example each when to use a for loop and a while loop.

In [ ]:
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [2]:
t=(2,3,4,5,56,6)

In [3]:
t

(2, 3, 4, 5, 56, 6)

In [4]:
sum1=0
for i in t:
    sum1=sum1+i
sum1

76

### Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [5]:
sum2=0
for i in range(1,11):
    print(i)
    sum2=sum2+i
sum2

1
2
3
4
5
6
7
8
9
10

55

### Q3. Create a python program to compute the electricity bill for a household.The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 perunit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit. You are required to take the units of electricity consumed in a month from the user as input. Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.

In [6]:
electric_unit=int(input("Enter the consumed electric unit : "))

if electric_unit>0 and electric_unit<=100:
    charge=electric_unit * 4.50

elif electric_unit>100 and electric_unit<=200:
    charge=100*4.50 + (electric_unit-100)*6

elif electric_unit>200 and electric_unit<=300:
    charge=100*4.50 + 100*6 + (electric_unit-200)*10
elif electric_unit>300:
    charge=100*4.50 + 100*6 + 100*10 + (electric_unit-300)*20
print(charge)

Enter the consumed electric unit :  310

2250.0

### Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [ ]:
# Cube list usig while loop

In [7]:
a=1
lst=[]
while a <=100:
    lst.append(a*a*a)
    a=a+1
print(lst)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [8]:
# Cube list using for loop
lst1=[]
for i in range(1,101):
    lst1.append(i**3)
print(lst1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [9]:
lst2=[]
for i in lst:
    if i % 4==0 or i % 5==0:
        lst2.append(i)
print(lst2)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

### Q5. Write a program to filter count vowels in the below-given string. 
string = "I want to become a data scientist"

In [ ]:
s="I want to become a data scientist"
s1=s.lower()
count=0
vovel=['a','e','i','o','u']
for i in s1:
    if i in vovel:
        count=count+1
print("Number of vovel are ",count