### Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
Database is a collection of highly structured tables, wherein each row reflects a data entity, 
and every column defines a specific information field

In [ ]:
#SQL

In [ ]:
These databases have fixed or static or predefined schema

In [ ]:
These databases are not suited for hierarchical data storage.

In [ ]:
These databases are best suited for complex queries

In [ ]:
Vertically Scalable

In [ ]:
#NOSQL

In [ ]:
They have dynamic schema

In [ ]:
These databases are best suited for hierarchical data storage.

In [ ]:
These databases are not so good for complex queries

In [ ]:
Horizontally scalable

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database.
You can generate DDL in a script for database objects to: Keep a snapshot of the database structure.

In [ ]:
#CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

In [ ]:
import mysql.connector

In [ ]:
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

In [ ]:
# ALTER :
This command is used to add, delete or change columns in the existing table.
The user needs to know the existing table name and can do add, delete or modify tasks easily.

In [ ]:
ALTER TABLE Student_info
ADD CGPA number;

In [ ]:
#TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

In [ ]:
TRUNCATE TABLE table_name;

In [ ]:
#DROP :
This command is used to remove an existing table along with its structure from the Database.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
#DML(Data Manipulation Language): 
The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and
this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database.
Basically, DCL statements are grouped with DML statements.

In [ ]:
#INSERT
Insert command is used to insert data into a table

In [ ]:
Insert into <table_name> (column list) values (column values);

In [ ]:
#DELETE
Delete command is used to delete records from a database table.

In [ ]:
 Delete from <table_name>WHERE condition;

In [ ]:
#UPDATE
Update command is used to update existing data within a table.

In [ ]:
UPDATE <table_name> SET column_number =value_number WHERE condition;

### Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL statements are used for performing queries on the data within schema objects.
The purpose of the DQL Command is to get some schema relation based on the query passed to it.
We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it.
It includes the SELECT statement.

In [ ]:
An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE ) that specify criteria.

In [ ]:
SELECT * FROM Customers WHERE Last_Name='Smith';

### Q5. Explain Primary Key and Foreign Key.

In [ ]:
A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with 
a given primary key value in a table. A foreign key is a column or a set of columns in a table whose values
correspond to the values of the primary key in another table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
      print(x)

### Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
OrderClause	      Function
1	      FROM	    Tables are joined to get the base data.
2	      WHERE	    The base data is filtered.
3	      GROUP BY	The filtered base data is grouped.
4	      HAVING	    The grouped base data is filtered.
5	      SELECT	    The final data is returned.
6	      ORDER BY	The final data is sorted.
7	      LIMIT	    The returned data is limited to row count.